.img-container{
    float: left;
    /* background: rgb(180, 180, 179); */
    border-radius: 30px;
    margin-top: 20px;
}

img{
    box-sizing: border-box;
    max-width:100%;
    float: left;
    padding: 10px;
    background: rgb(180, 180, 179);
    height: auto;
    transition: transform .2s; /* Animation */
    border-radius: 30px;
}

img:hover {
    transform: scale(1.15);
    border: red 3px solid;
    border-radius: 30px;
}